<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="6">
  <!--
	   <test name="IE11">
		<parameter name="Deviceid" value="desktop" />
		<parameter name="browsertype" value="ie_11" />
		<parameter name="WinPlatform" value="Windows 7" />
		<classes>
			<class name="com.fw.RallyConnectAutomation.executor.executor"></class>
		</classes>
	</test>

	<test name="FireFox36">
		<parameter name="Deviceid" value="desktop" />
		<parameter name="browsertype" value="firefox_36" />
		<parameter name="WinPlatform" value="Windows 7" />
		<classes>
			<class name="com.fw.RallyConnectAutomation.executor.executor"></class>
		</classes>
	</test>

	<test name="Chrome34">
		<parameter name="Deviceid" value="desktop" />
		<parameter name="browsertype" value="chrome_34" />
		<parameter name="WinPlatform" value="Windows 7" />
		<classes>
			<class name="com.fw.RallyConnectAutomation.executor.executor"></class>
		</classes>
	</test>

	<test name="IE10">
		<parameter name="Deviceid" value="desktop" />
		<parameter name="browsertype" value="ie_10" />
		<parameter name="WinPlatform" value="Windows 7" />
		<classes>
			<class name="com.fw.RallyConnectAutomation.executor.executor"></class>
		</classes>
	</test>   -->  
  
	   <test name="Firefoxlocal">
		<parameter name="Deviceid" value="local" />
		<parameter name="browsertype" value="firefox_32" />
		<parameter name="WinPlatform" value="Windows 7" />
		<classes>
			<class name="com.fw.RallyConnectAutomation.executor.executor"></class>
		</classes>
	</test> 

</suite> 
